
.top-container {
  display:flex;
  margin-top:0;
  border-bottom-right-radius:10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(92, 183, 228);
  box-shadow: 0px 10px black;
}

.text {
  display: inline-block;
  text-align: center;
}

body {
    margin: 0;
    background-color: rgb(145, 149, 141);
  }

  main {
    display: block;
  }

  a {
    background-color: transparent;
  }

  a:hover {
    display:relative;

  }

  nav {
    display:block;

  }

  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #a4a3a3;
    border-radius: 5px;
    box-sizing: border-box;
  }

  #logout {
    position: absolute;
  top: 20px;
  right: 16px;
  font-size: medium;
   }

  .form-input {
    display:block;
    width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  }

  